body {
  margin: 0;
}

#map {
	height: 95vh;
	cursor: pointer;
	width: 100%;
}

#info {
	position: absolute;
    max-width: 600px;
    top: 10px;
    right: 40px;
    background: white;
    padding: 5px;
    float: left;
    border: 2px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

#frm-geocode {
    position: absolute;
    top: 10px;
    left: 40px;
    background: white;
    padding: 5px;
    float: left;
    border: 2px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
#frm-geocode label {
    float: left;
    clear: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
}
#frm-geocode .inputs {
    float: left;
    clear: left;
    padding-top: 3px;
}
#frm-geocode input {
    float: left;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchbox {
    margin-top: 10px;
}